<%- include('partials/header') -%>
<div class="container post">
  <div class="row justify-content-center mt-5" style="padding-top:20px;">
    <div class="col-8">
      <% if(new Date() > post.date){ %>
        <h1>This game is already finished</h1>
        <%}%>
      <% if(post.playersNeeded +1 == post.joinedUserNumber){ %>
        <div class="gameOn">
          <span>Game on!</span>
        </div>
      <%}%>  
      <h2 style="padding-bottom:4%; display: flex; justify-content: center; border-bottom: solid 2px orange;">Let's play <%= post.sport.toLowerCase() %></h2>
      <br>
      <% if(post.sport.toLowerCase() == "soccer"){ %>
        <img src="https://res.cloudinary.com/dng1obd8k/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1671192962/connor-coyne-OgqWLzWRSaI-unsplash_eyljvz.jpg" alt="soccer" id="event-img-post">
      <% } else if(post.sport.toLowerCase() == "basketball"){ %>
        <img src="https://res.cloudinary.com/dng1obd8k/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1671193099/tom-briskey-HM3WZ4B1gvM-unsplash_bun4ug.jpg" alt="basketball" id="event-img-post">
      <% } else if(post.sport.toLowerCase() == "baseball"){ %>
        <img src="https://res.cloudinary.com/dng1obd8k/image/upload/v1671194457/caitlin-conner-i_vYjW5A6NU-unsplash_bjevav.jpg" alt="baseball" id="event-img-post">
      <% } else if(post.sport.toLowerCase() == "tennis"){ %>
        <img src="https://res.cloudinary.com/dng1obd8k/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1671193033/hoi-pham-eLZwsPO8cCQ-unsplash_hssu88.jpg" alt="tennis" id="event-img-post">
      <% } else if(post.sport.toLowerCase() == "padel"){ %>
        <img src="https://res.cloudinary.com/dng1obd8k/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1671193138/tomasz-krawczyk-M2x3A8Q4JbY-unsplash_zbda0x.jpg" alt="padel" id="event-img-post">
      <% } else if(post.sport.toLowerCase() == "volleyball"){ %>
        <img src="https://res.cloudinary.com/dng1obd8k/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1671193390/miguel-teirlinck-VDkRsT649C0-unsplash_a7blwv.jpg" alt="volleyball" id="event-img-post">
      <% } else if(post.sport.toLowerCase() == "rugby"){ %>
        <img src="https://res.cloudinary.com/dng1obd8k/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1671193554/hanson-lu-Jub7DPwC2U8-unsplash_znogfe.jpg" alt="rugby" id="event-img-post">
      <% } else if(post.sport.toLowerCase() == "table tennis" || post.sport.toLowerCase() == "ping pong"){ %>
        <img src="https://res.cloudinary.com/dng1obd8k/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1671193605/lisa-keffer-3B8nIiT-Pmc-unsplash_odj7bi.jpg" alt="tabletennis" id="event-img-post">
      <% } else { %> 
        <img src="https://res.cloudinary.com/dng1obd8k/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1671195359/calvin-jung-CWon59n3AB8-unsplash_hjvzca.jpg" alt="field" id="event-img-post">
      <% } %>
      <span>Time: <%= post.date.toLocaleTimeString('en-UK').slice(0,-3) %></span>
      <br><span>Date: <%= post.date.toDateString() %></span> 
      <br><span>Address: <%= post.address %></span>
      <br><span>Game created by: <%= post.createdBy %>
      <br>
      <div id="map" style="height: 300px; width: 100%; border-radius: 5px; margin-top: 35px;">
      </div>
      <script>
        function initMap() {
          let latLng = {lat: <%= post.coordinates.coordinates[1] %>, lng: <%= post.coordinates.coordinates[0] %>};
          let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: latLng
          });
          const marker = new google.maps.Marker({
            position: latLng,
            map: map
          });
          console.log(latLng)
        }
        window.initMap = initMap
      </script>
      
      <br>
      <% if(post.playersNeeded+1 == post.joinedUserNumber){ %>
        <span><strong>Enough players have joined for a game.</strong></span>
        <%}%>
      <br>
      <br>
      <div class="row justify-content-between" style="border-top:solid 2px orange; padding-top:4%;">
        <h5 class="col-4">Players still needed: <%= post.playersNeeded - post.likes + 1 %></h5>
        <h5 class="col-4">Players joining: <%= post.joinedUsers.join(', ') %></h5>
      </div>
      <br>
      <div class="row justify-content-between">
        <% if(post.joinedUsers.includes(user.userName) && post.createdyBy !== user.userName){ %>
        <form
          class="col-3"
          action="/post/unlikePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-user-minus" type="submit"></button>
          <br>
          <span style="font-size:small">Opt out</span>
        </form> 
         
        <%}%>
        <% if(post.playersNeeded+1 > post.joinedUserNumber && post.joinedUsers.includes(user.userName)===false){ %>
          <form
          class="col-3"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-user-plus" type="submit"></button>
          <br>
          <span style="font-size: small;">Join game</span>
        </form>
        
        <%}%>
        
        <%if(post.createdById == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
          <br>
          <span style="font-size: small;">Delete game</span>
        </form>
        
        <%}%>
      </div>
    </div><br>
    <br><br>
    <ul style="list-style: none; margin-top:2rem;">
      <h3 style="border-top:orange solid 2px; text-align: center; padding-top:2rem;">Comments</h3>
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5 singleComment">
          <%if(comments[i].createdById == user.id) {%>
        <form
          action="/comment/deleteComment/<%= post.id %>/<%= comments[i]._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-outline-danger" type="submit" style="float:right;">Delete</button>
        </form>
        <% } %>
        <img src="<%=comments[i].userAvatar %>" alt="User avatar" id="profilePicComment">
          <span style="text-decoration: underline;"><%= comments[i].createdBy%></span>: <%= comments[i].comment%>        
        </li>
      <% } %>
      <%if(comments.length === 0) {%>
        <span style="margin-left:12.5%; color: lightgray;">No comments yet</span>
        <%}%>
    </ul>
    <div class="mt-5 comment">
      <h3>Add a comment</h3>
      <form action="/comment/createComment/<%= post._id%>"  method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label"></label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-6 mt-5" style="display: flex; justify-content: center;">
      <a class="btn btn-primary" style="margin-right:10px;" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
